# This is the continuous integration job for `syslog-tracing`. It runs on
# Ubuntu, using three versions of Rust: a "pined" least supported version,
# the current stable version and the current nightly version. After building,
# it will run the unit test suite as well as Autotools' `distcheck`.
name: Continuous Integration

on:
  workflow_dispatch:
  pull_request:
    types: [opened, edited, reopened] # don't say `synchronize`-- that is taken care of by `push`
  push:
  schedule:
    - cron: '43 01 * * *'

jobs:
  build:
    name: build
    strategy:
      matrix:
        rust-build:
          - pinned
          - stable
          - nightly
        os: [ubuntu-22.04]
        include:
        - rust-build: pinned
          os: ubuntu-22.04
          rust: 1.83
        - rust-build: stable
          os: ubuntu-22.04
          rust: stable
        - rust-build: nightly
          os: ubuntu-22.04
          rust: nightly
    runs-on: ${{ matrix.os }}
    env:
      RUST_BACKTRACE: 1
    steps:

    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Install Rust
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: ${{ matrix.rust }}

    - name: Install tools
      shell: bash
      run: |
        rustup component add clippy
        rustup target add x86_64-unknown-linux-musl
        sudo apt-get install exuberant-ctags ripgrep
        cargo install rusty-tags

    - name: Lint
      shell: bash
      run: 'admin/run-linters'

    - name: Build syslog-tracing
      shell: bash
      run: 'admin/cargo-build-test-smoke'
